@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Premier League PDF Printer!</h1>
    <p>Read about the premier league <a href="https://www.premierleague.com/">here</a>.</p>
</div>
